<div class="col-lg-4">
    <nav aria-label="breadcrumb" class="mt-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">{{ post.h1 }}</li>
        </ol>
    </nav>
    <img class="img-fluid rounded " src="{{ post.image.url }}" alt="">
    <hr>
    <!--Сюда AAАААААААААААААААААААA |safe для нормального отображения поста, без HTML приблуд.-->
    <p class="text"> {{ post.options|safe }}</p>
    <hr>
    <p class="lead text-right">Автор: {{ post.author }}</p>
    <hr>
    <p class="text-right">Опубликовано {{ post.created_at }}</p>
    <hr>
</div>
