{% extends './base.html' %}
{% load static %}
{% block title %}Добавляем новую тему{% endblock %}

{% block header %}
{% include './block/header.html' %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <nav aria-label="breadcrumb" class="mt-4">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="dark" href="{% url 'index' %}">Главная</a></li>
                    <li class="breadcrumb-item"><a class="dark" href="{% url 'forum' %}">Форум</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Добавление темы на форум</li>
                </ol>
            </nav>
            <p class="lead">Чтобы связаться со мной заполните форму обратной связи</p>
            {{ hello.q }}
            {% if form.errors %}
            {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endif %}
            <form name="contact-form" method="post" action="{% url 'theme_add' %}" enctype="multipart/form-data">
                <!--enctype="multipart/form-data"  Для загрузки картинок из формы-->
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="author">
                <div class="text-center text-md-left mt-3">
                    <button class="btn btn-primary" type="submit">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
